<div align="center" class="jumbotron" style="padding-top: 0">
    <h1>
        <button ui-sref="Clients" class="btn btn-lg btn-primary">Модуль I.«Клиенты»</button>
    </h1>
    <h1>
        <button class="btn btn-lg btn-primary">Модуль II. Депозитные операции с физическими лицами.</button>
    </h1>
    <h1>
        <button class="btn btn-lg btn-primary">Модуль III. Кредитные операции с физическими лицами.</button>
    </h1>
    <h1>
        <button class="btn btn-lg btn-primary">МОДУЛЬ IV. "ЭМУЛЯТОР БАНКОМАТА".</button>
    </h1>
</div>