<div class="container-fluid" align="center">
    <img src="../../../Content/images/bank.png" height="510" width="1150" alt="" />
    <div class="box">
        <!--<div ng-show="dataInput" style="padding-top: 120px;">
            <label>Введите номер карты (16 символов)</label>
            <input maxlength="16" ng-model="numberCard" input-only-number type="text" class="form-control" />
            <label>Введите пин код (4 символа)</label>
            <input maxlength="4" ng-model="pinCode" input-only-number type="text" class="form-control" />
            <br /><br /><br />
            <label class="alert-warning">После ввода информации нажмите на кнопку "принять" <br /> для сброса информации нажмите кнопку "отмена"</label>
        </div>-->
        <div ng-if="true" style="padding-top: 120px;">
            <h3>
                <a href="">Снять деньги с кредитного счета</a><br /><br /><br />
                <a href="">Просмотреть остаток кредитного счета</a><br /><br /><br />
                <a href="">Забрать карту</a><br /><br /><br />
            </h3>
        </div>

    </div>
    <div class="btn btn-primary btn1" ng-click="ok()">Принять</div>
    <div class="btn btn-primary btn2" ng-click="cancel()">Отмена</div>
</div>



